body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    font-family: "Arial";
    color: #fff;
}

body, html {
	scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
}

	p {
		line-height: 1.6em;
		color: #eee;
		font-size: .9em;
	}

@media only screen and (min-width: 35em){
	p {
		font-size: 1.25em;
	}
}

header.page__header {
  background: #015289;
  padding: 1em;
  margin-right: 5px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}


header a {
  color: inherit;
}

.main__hero {
	margin-top: 100px;
}

h1 {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: .5em;
}

h1#target {
  font-size: 2em;
}

@media only screen and (min-width: 35em){
	h1 {
	  font-weight: bold;
	  font-size: 1.5em;
	  margin-bottom: 1em;
	}
	
	h1#target {
		font-size: 6em;
	}
	
	.main__hero {
		margin-top: 200px;
	}
}

h2 {
	border-bottom: 1px solid #cc1;
    font-size: 1.75em;
}

@media only screen and (min-width: 35em){
	h2 {
		border-bottom: 1px solid #cc1;
		font-family: 'Oxygen', Sans-Serif;
		font-size: 3em;
		color: #fff;
	}
}

main {
    margin: 5vh 1em;
	scroll-snap-align: start;
	scroll-margin: 300px;
}

section {
    position: relative;
    min-height: 80vh;
	scroll-snap-align: start;
	scroll-margin: 100px;
}

section.active {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 100%);
}

button#toggle {
  position: absolute;
  right: 5em;
  top: 1.3em;
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: .6em;
  background: transparent;
  color: #fff;
  display: block;
}

@media only screen and (min-width: 35em){
	button#toggle {
		font-size: 1em;
		right:3em;
		top: 1em;
	}
}

button.menubtn.inactive{
	border: 2px solid #fff;
}

button.menubtn.active{
	border: 2px solid yellow;
}

button.menubtn {
	padding: 4px;
	border: 2px solid #fff;
	border-radius: 5px;
	font-size: .6em;
	background: transparent;
	color: #fff;
	margin-right: 10px;
 }
 
 @media only screen and (min-width: 35em){
	 button.menubtn {
		padding: 8px;
		border: 2px solid #fff;
		border-radius: 5px;
		font-size: 1em;
		background: transparent;
		color: #fff;
		margin-right: 10px;
	 }
 }

 @media only screen and (min-width: 35em){
	button:hover {
	  background: #fff;
	  color: #000;
	}
}

/* scroll to top button */
.scrollToTopBtn {
	height: 40px;
	width: auto;
  
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 10px;
  right: 10px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all .5s ease
}

.showBtn {
  opacity: 1;
  transform: translateY(0)
}

@media (hover: hover) and (pointer: fine) {
	.showBtn {
	  opacity: .75;
	  transform: translateY(0)
	}
}
.showbtn:hover {
	opacity: 1;
}

nav {
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	padding: .5em .5em 0;
	margin-right: 1em;
}

nav.btnlist {
	display: inline-block;
    /* margin-right: 1em; */
	/* margin-bottom: 1em; */
}
nav.menubtn {
  display: block;
}

ul {
  display: none;
  margin: .5em;
  margin-bottom: 0em;
  padding-left: .5em;
}

@media only screen and (min-width: 35em){
	ul {
		margin: 1em;	  
	}
}

ul.is-active {
  	display: flex;
	flex-direction: row;
	list-style-type:none;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

